@import "./app.theme.css";

#root {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  transition: background-color 0.25s ease-in-out, color 0.05s linear;
}

.App {
  height: 100%;
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-rows: auto auto;
  background-color: var(--app-surface);
  color: var(--font-color-normal);
}

.App > header {
  box-shadow: 0px 8px 24px 0px var(--font-color-normal);
  grid-column: 1;
  grid-row: 1 / 1;
  z-index: 10;
  background-color: var(--primary-surface);
  color: var(--font-color-normal);
}

.App[data-theme="dark"] > header {
  box-shadow: none;
  border-bottom: solid 1px var(--font-color-disabled);
}

.App > main {
  height: auto;
  width: auto;
  overflow: hidden;
  grid-row: 2/2;

  display: grid;
  grid-template-columns: 390px auto;
}

.App > main > .left-container {
  grid-column: 1 / 1;
  width: auto;
  height: auto;
  overflow-y: scroll;
  background-color: var(--primary-surface);
  color: var(--font-color-normal);
}

.App > main > .right-container {
  grid-column: 2 / 2;
  width: auto;
  height: auto;
  overflow-y: scroll;
  background-color: var(--primary-surface);
  color: var(--font-color-normal);
}

/** 
  Inconsequential to layout.
*/

.App > header img {
  height: 2.5rem;
}

.App > main > .left-container > .left-content-pad {
  padding: 1rem;
}

.App > main > .right-container > .right-content-pad {
  padding: 1rem;
}
